* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #111111;
}

.rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    color: white;
    font-size: 30px;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    color: white;
    font-size: 100px;
}